.full-screen {
  height: 100vh; /* Altura total de la pantalla */
  background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
}

.custom-img {
  max-width: 450px; /* Máximo ancho */
  max-height: 450px; /* Máximo alto */
  object-fit: contain; /* Escala la imagen manteniendo la proporción */
  background-color: #f0f0f0;
}

/*EFECTOS DE BOTONES*/
.btnEffect{
  padding: 5px 10px;
  text-align: center;
  border: none;
  color:white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 9px black;
  padding-right:5px;
  padding-left: 5px;
}

.btnEffect:hover {
  background-color: #08555b;
}
.btnEffect:active {
  background-color: #08555b;
  box-shadow: 0 2px black;
  transform: translateY(2px);
}
.animacion{
  height: 400px;
  background-color: white;

}
