.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
  color: #555;
}

.card-img-container {
  display: flex;
  justify-content: center;
}
